$primary: #394782;
$secondary: #5C689A;
$background: #E7E9F3;
$error: #ff0000;

$lightred: #ffcbcb;
$white: #ffffff;
$lightblue: #add8e6;
$lightgrey: #F3F3F3;
$grey: #808080;
$darkgrey: #505050;
$black: #000000;
$transparent: #00000000
