$colors-list: (("primary", $primary),
  ("secondary", $secondary),
  ("skyblue", $skyblue),
  ("white", $white),
  ("lightblue", $lightblue),
  ("lightgrey", $lightgrey),
  ("grey", $grey),
  ("darkgrey", $darkgrey),
  ("black", $black),
  ("transparent", $transparent));

@each $color in $colors-list {
  $name: nth($color, 1);
  $value: nth($color, 2);

  .bg-#{$name} {
    background-color: $value;
  }

  .text-#{$name} {
    color: $value;
  }
}
